<ol class="breadcrumb">
    <li><a href="{{ route('tree', {owner: owner, project: project, commitishPath: branch}) }}">{{ project }}</a></li>
    {% for breadcrumb in breadcrumbs %}
        <li{% if loop.last %} class="active"{% endif %}>{% if not loop.last %}<a href="{{ route('tree', {owner: owner, project: project, commitishPath: branch ~ '/' ~ breadcrumb.path}) }}">{{ breadcrumb.dir }}</a>{% endif %}{% if loop.last %}{{ breadcrumb.dir }}{% endif %}</li>
    {% endfor %}

    {% block extra %}{% endblock %}
</ol>
