{% extends 'layout.html' %}

{% block body %}
    {% include 'navigation.html' %}

    <div class="container">
        <div class="header row">
            <div class="col-sm-12">
                {% if page in ['commits', 'searchcommits'] %}
                <form class="pull-right" action="{{ app.request.basepath }}/{{repo}}/commits/{{branch}}/search" method="POST">
                    <input type="search" name="query" class="form-control input-sm" placeholder="Search commits...">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                </form>
                {% else %}
                <form class="pull-right" action="{{ app.request.basepath }}/{{repo}}/tree/{{branch}}/search" method="POST">
                    <input type="search" name="query" class="form-control input-sm" placeholder="Search tree...">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                </form>
                {% endif %}

                {% if branches is defined %}
                    {% include 'branch_menu.html' %}
                {% endif %}

                {% include 'menu.html' %}
            </div>
        </div>

        {% block content %}{% endblock %}

        {% include 'footer.html' %}
    </div>
{% endblock %}
