<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ route('homepage') }}">Gitamin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://gitamin.com/">Gitamin</a></li>
                <li><a href="{{ route('homepage') }}/refresh">Refresh</a></li>
                <li><a href="http://hifone.com/">Report bug</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>