body.login {
    background: $gray-normal;
    .login-panel {
        width: 600px;
        margin: 0 auto;
        .form-bg {    
            padding: 50px 60px;
            background-color: #fff;
            box-shadow: 0 3px 8px 1px #c2c2c2;
            border-radius: 6px;
        }

        .logo {
            margin: 40px 0;
        }

        .login-title {
            margin: 0;
            color: #555;
            margin-bottom: 24px;
            line-height: 1;
            font-size: 24px;
        }

        p {
            color: white;
            text-align: center;
            font-weight: 600;
            font-size: 18px;
        }

        .login-input {
            height: 45px;
        }

        i {
            font-size: 22px;
        }
    }
}
