/* Bootstrap Theme */
body {
  background: #fff;
  color: #222527;
  font-family: Helvetica,Arial,"PingFang SC","Hiragino Sans GB","Source Han Sans CN",Roboto,"Heiti SC","Microsoft Yahei",sans-serif;
  padding-top: 65px;
}

.breadcrumb {
  padding: 10px 16px;
  border: 1px solid #e7e7e7;
  border-radius: 4px
}

.download-buttons {
  display: inline
}

.download-buttons .rss-icon {
  padding-left: 16px;
  font-size: 23px
}

.space-right {
  padding: 0 8px 0 0
}

span.rss-icon {
  color: #d9534f;
  font-size: 17px
}

span.rss-icon:hover {
  color: #b52b27
}

.form-control {
  color: #333;
}

.empty-block {
  text-align: center;
  line-height: 60px;
  margin: 10px;
  color: #ccc;
}