
.tree {
  border: 1px solid #c9e6f2;
  border-radius: 4px
}

.tree>thead>tr>th {
  background-color: #f2f9fc;
  font-weight: normal;
  color: #68777d;
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: bottom;
  border-bottom: 1px solid #c9e6f2
}

.tree tbody td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px solid #eee
}


.tree td.icon .octicon-file-directory {
  color: #80a6cd;
}

.tree caption+thead tr:first-child th,.tree caption+thead tr:first-child td,.tree colgroup+thead tr:first-child th,.tree colgroup+thead tr:first-child td,.tree thead:first-child tr:first-child th,.tree thead:first-child tr:first-child td {
  border-top: 0
}

.tree tbody tr:last-child td {
  border-bottom: 0
}
