
// Color schema
$white-light: #FFFFFF;
$white-normal: #DCE0E5;
$white-dark: #E4E7ED;

$gray-light: #F0F2F5;
$gray-normal: #DCE0E5;
$gray-dark: #54565b;

$green-light: #31AF64;
$green-normal: #2FAA60;
$green-dark: #2CA05B;

$blue-light: #2EA8E5;
$blue-normal: #2D9FD8;
$blue-dark: #2897CE;

$orange-light: #FC6443;
$orange-normal: #E75E40;
$orange-dark: #CE5237;

$red-light: #F43263;
$red-normal: #E52C5A;
$red-dark: #D22852;

$border-white-light: #E3E7EC;
$border-white-normal: #D6DAE2;
$border-white-dark: #C6CACF;

$border-gray-light: #DCE0E5;
$border-gray-normal: #D6DAE2;
$border-gray-dark: #C6CACF;

$border-green-light: #2FAA60;
$border-green-normal: #2CA05B;
$border-green-dark: #279654;

$border-blue-light: #2D9FD8;
$border-blue-normal: #2897CE;
$border-blue-dark: #258DC1;

$border-orange-light: #ED5C3D;
$border-orange-normal: #CE5237;
$border-orange-dark: #C14E35;

$border-red-light: #E52C5A;
$border-red-normal: #D22852;
$border-red-dark: #CA264F;

// Theme colours.
$gitamin-base-light: #fff;
$gitamin-base-medium: #f0f3f4;
$gitamin-base-dark: #333;

$gitamin-primary: #9c0;
$gitamin-secondary: #6DB81C;

$gitamin-link: #9c0;
$gitamin-link-hover: #01579b;

$gitamin-gray-light: #e8e8e8;
$gitamin-gray: #999;
$gitamin-gray-darker: #666;

$gitamin-icons: #5e5e5e;

// Statuses
$gitamin-green: $gitamin-primary;
$gitamin-dark-green: darken($gitamin-green, 10%);

$gitamin-blue: #3498db;
$gitamin-dark-blue: darken($gitamin-blue, 10%);

$gitamin-red: #ff6f6f;
$gitamin-dark-red: darken($gitamin-red, 10%);

$gitamin-teal: #0dccc0;
$gitamin-dark-teal: darken($gitamin-teal, 10%);

$gitamin-yellow: #F7CA18;
$gitamin-dark-yellow: darken($gitamin-yellow, 10%);

$gitamin-pink: #b23f73;
$gitamin-dark-pink: darken($gitamin-pink, 10%);

$gitamin-grey: #ecf0f1;
$gitamin-dark-grey: darken($gitamin-grey, 10%);

$gitamin-orange: #FF8800;
$dark-orange: darken($gitamin-orange, 10%);
