
textarea {
    resize: none;
    overflow: auto;
}

.markdown-control {
    position: relative;

    &:before {
        position:absolute;
        display:block;
        right:5px;
        bottom:0%;
        font-size: 1.2em;
        font-family: "Fontawesome";
        content: "\f292";
    }
}

.form-horizontal {
    label {
        font-weight: normal;
        float:left;
        width: 16.66666667%;
    }
    
    .control-label {
        text-align: right;
        margin-bottom: 0;
        padding-top: 10px;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    @include box-shadow(none !important);
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

    &:focus {
        border-color: #66afe9;
    }
}

.form-actions {
    padding: 17px 20px 18px;
    margin-top: 18px;
    margin-bottom: 18px;
    background-color: #f7f8fa;
    border-top: 1px solid #dce0e6;
}

.project-inline {
    @media (max-width: $screen-xs-max) {
        .radio-items {
            text-align: left;
            .radio-inline {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
