.readme-view {
  border: 1px solid #e7e7e7
}

.md-view {
  width: 100%;
  margin-bottom: 1.428571429
}

.md-header {
  padding: 16px;
  background-color: #f8f8f8;
  line-height: 1.428571429;
  border-bottom: 1px solid #f4f4f4;
  font-weight: bold
}

#md-content {
  padding: 10px 16px;
  color: #333;
  p {
    margin-top: 0;
    margin-bottom: 16px;
  }
  img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  img:not(.emoji){
    border: 1px solid #ddd;
    max-width: 95%;
    box-shadow: 0 0 30px #ccc;
    -moz-box-shadow: 0 0 30px #ccc;
    -webkit-box-shadow: 0 0 30px #ccc;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
  }

  h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
  }
}