<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="csrf-token" content="{{ csrf_token() }}">
        <link rel="shortcut icon" type="image/png" href="{{ app.request.basepath }}/themes/{{ app.theme }}/img/favicon.png" />
        <link rel="stylesheet" href="{{ elixir('dist/css/all.css') }}">
    </head>

    <body data-page="frontend">
        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ elixir('dist/js/all.js') }}"></script>
        {% endblock %}
    </body>
</html>
